@charset "utf-8";

@import "reset";
@import "bourbon/bourbon";
@import "mixins-variables";

#app {
  margin: 0 auto;
  max-width: 1600px;
  min-width: 700px;
}

#controls,
#scene {
  width: 50%;
  height: auto;
  max-height: 100%;
}