@charset "utf-8";

@import "reset";
@import "bourbon/bourbon";
@import "mixins-variables";

html,
body {
  width: 100%;
  height: 100%;
}

#wrapper {
  width: 100%;
  height: 100%;
  @include flexbox;
  @include flex-row;
  @include flex-justify(center);
  @include flex-align-items(center);
}

#app {
  width: 956px;
  height: 700px;
}